<div class="asd">
  <h1>Corona Virus </h1>
  
    <label for="">select Conutry</label>
    <br>
    
    <select (change)="onChange($event.target.value)">
      <option *ngFor="let country of countries" value={{country.Slug}}> {{country.Country}}</option>
    </select>

  
  <br><br>
  <button (click) = "getCoronaData()">Get Corona Virus Data</button>
  <h5>total confirmed cases :{{confirmed}} </h5>
  <h5>total recoverd cases : {{recoverd}}</h5>
  <h5>total death cases :{{death}} </h5>
  <h5>Date:{{date |date:'yyyy - MM - dd' }} </h5>
</div>
