<div class="asd">
  <h1>Corona Virus </h1>
  
    <label for="">select Conutry</label>
    <br>
    
    <select (change)="onChange($event.target.value)">
      <option *ngFor="let country of countries" value={{country.Slug}}> {{country.Country}}</option>
    </select>

  
  <br><br>
  <button (click) = "getCoronaData()">Get Corona Virus Data</button>
  <p>total confirmed cases :{{confirmed}} </p>
  <p>total recoverd cases : {{recoverd}}</p>
  <p>total death cases :{{death}} </p>
  <p>Date:{{date |date:'yyyy - MM - dd' }} </p>
  <p>Date:{{date |date:'yyyy - MM - dd' }} </p>
</div>
